@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  list-style: none;
}
.wrap {
  width: 1240px;
  margin: 0 auto;
  overflow: hidden;
}
a {
  text-decoration: none;
}
/*头部*/
header {
  height: 82px;
  line-height: 82px;
}
header a {
  font-size: 28px;
  color: #00b9f2;
}
main {
  height: 750px;
  max-height: 1080px;
  position: relative;
  background: linear-gradient(180deg, #edfcfd 0%, #faffff 100%);
}
main .wrap {
  position: relative;
  height: 750px;
}
main .wrap .userinfo {
  width: 368px;
  position: absolute;
  top: 16%;
  right: 85px;
  background-color: #FFF;
  padding: 72px 35px 20px;
  border-radius: 2px;
  box-shadow: 0 6px 12px 0 rgba(138, 153, 150, 0.15);
}
main .wrap .userinfo p {
  color: #3058df;
  font-size: 18px;
  text-align: center;
  margin-bottom: 100px;
}
main .wrap .userinfo div {
  text-align: center;
  margin: 20px;
}
main .wrap .userinfo div p {
  height: 20px;
  margin: 5px 0;
  font-size: 14px;
  line-height: 20px;
}
main .wrap .userinfo div .green {
  color: green;
}
main .wrap .userinfo div .red {
  color: red;
}
main .wrap .userinfo div a {
  display: block;
  text-align: left;
  color: #3392ff;
}
main .wrap .userinfo div label {
  display: inline-block;
  width: 80px;
  text-align: left;
}
main .wrap .userinfo div input {
  height: 30px;
}
main .wrap .userinfo div .btn {
  width: 100%;
  height: 50px;
  font-size: 26px;
  background: #3392ff;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
main::before {
  background: url(../img/other/pic-flyme.png);
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
/*底部*/
footer {
  padding: 48px 0 20px;
  background: #fff;
}
footer .footer-top {
  float: left;
}
footer .footer-top li {
  float: left;
  width: 150px;
  height: 69px;
  text-align: center;
}
footer .footer-top li a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  color: #999;
}
footer .footer-top li a img {
  width: 50px;
  margin: 0 auto;
}
footer .footer-right {
  float: right;
  text-align: right;
}
footer .footer-right span {
  color: #999;
  font-size: 12px;
  line-height: 30px;
}
footer .footer-right p {
  color: #00c3f5;
  font-size: 25px;
  font-weight: 400;
  margin-top: -6px;
  line-height: 40px;
}
footer .footer-right a {
  display: block;
  height: 30px;
  padding: 0 16px;
  line-height: 30px;
  color: #fff;
  border-radius: 15px;
  margin-top: 3px;
  display: inline-block;
  font-size: 14px;
  background: #0bbbef;
}
footer hr {
  float: left;
  width: 100%;
  margin: 10px auto 28px;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eee;
  padding: 0;
}
footer .footer-bottom {
  float: left;
}
footer .footer-bottom li {
  float: left;
  height: 18px;
  padding-right: 15px;
  border-right: 1px solid #d6d6d6;
  box-sizing: content-box;
  text-align: center;
  margin-right: 15px;
}
footer .footer-bottom li a {
  display: block;
  line-height: 18px;
  color: #999;
  font-size: 12px;
}
footer .footer-bottom .nobor {
  border: 0;
}
footer .footer-bottom .copyright {
  float: left;
  padding-top: 8px;
  color: #999;
  text-align: left;
  font-size: 12px;
}
footer .footer-bottom .copyright span {
  display: inline-block;
  width: 14px;
  height: 18px;
  position: relative;
  top: 4px;
}
footer .footer-bottom .copyright .bg1 {
  background: url(../img/footer/f-07.png);
}
footer .footer-bottom .copyright .bg2 {
  background: url(../img/footer/f-08.png);
}
footer .footer-bottom .copyright .bg3 {
  background: url(../img/footer/f-09.png);
}
footer .footer-bottom .copyright .bg4 {
  background: url(../img/footer/f-10.png);
}
footer .share {
  float: right;
  margin-top: 25px;
}
footer .share a {
  display: inline-block;
  line-height: 27px;
  cursor: pointer;
}
footer .share a img {
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
  margin-right: 20px;
}
